.movies {
  background-color: #FAFAFA;
}

.movies__wrap {
  max-width: 1280px;
  padding: 70px 70px 80px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .movies__wrap {
    padding: 80px 30px;
  }
}

@media screen and (max-width: 360px) {
  .movies__wrap {
    padding: 80px 10px;
  }
}

.movies__api-error {
  color: #FF004C;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  text-align: center;
  margin-bottom: 20px;
}

.movies__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 13.31px;
  text-align: center;
  margin-bottom: 20px;
}