.profile {
  background-color: #FAFAFA;
  padding: 74px 0 70px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 236px 30px 269px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding: 70px 30px 40px;
  }
}

.profile__form {
  max-width: 410px;
  margin: 0 auto;
  padding-top: 123px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .profile__form {
    padding-top: 96px;
  }
}

@media screen and (max-width: 320px) {
  .profile__form {
    padding-top: 80px;
  }
}

.profile__form-container {
  display: flex;
  justify-content: space-between;
}

.profile__form-container:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-container:last-of-type {
  padding-top: 16px;
  padding-bottom: 221px;
}

@media screen and (max-width: 768px) {
  .profile__form-container:last-of-type {
    padding-bottom: 211px;
  }
}

@media screen and (max-width: 320px) {
  .profile__form-container:last-of-type {
    padding-bottom: 380px;
  }
}

.profile__input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.profile__input {
  width: 80%;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
}

.profile__input:focus {
  outline: 1px solid #3456F3;
}

.profile__input::placeholder {
  color: #000000;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.profile__label:not(:last-of-type) {
  border-bottom: solid 1px #E8E8E8;
  padding-bottom: 16px;
}

.profile__label:not(:first-of-type) {
  padding-top: 17px;
}

.profile__navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.profile__navigation-btn {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background: transparent;
  padding: 0;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.profile__navigation-btn:hover {
  opacity: 0.7;
}

.profile__navigation-btn:first-of-type {
  margin-bottom: 16px;
}

@media screen and (max-width: 320px) {
  .profile__navigation-btn {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__navigation-btn_color_red {
  color: #EE3465;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

.profile__navigation-btn_show_not {
  display: none;
}

.profile__navigation-btn_type_save {
  width: 410px;
  height: 45px;
  background-color: #3456F3;
  color: #FFFFFF;
  border-radius: 3px;
}

.profile__navigation-btn_type_save:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: default;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile__success-server {
  display: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  text-align: center;
  margin-bottom: 20px;
}

.profile__success-server_active {
  display: block;
}

.profile__error-server {
  display: none;
  color: #FF004C;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.31px;
  text-align: center;
  margin-bottom: 20px;
}

.profile__error-server_active {
  display: block;
}
