.about {
  background-color: #FAFAFA;
}

.about__wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .about__wrap {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 450px) {
  .about__wrap {
    padding: 70px 18px;
  }
}

.about__info {
  margin: 0;
  padding: 70px 0 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .about__info {
    gap: 30px;
  }
}

@media screen and (max-width: 450px) {
  .about__info {
    flex-direction: column;
    gap: 56px;
  }
}

.about__info_part_text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about__info_part_text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 450px) {
  .about__info_part_text {
    font-size: 11px;
    line-height: 16px;
  }
}

.about__info_part_title {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .about__info_part_title {
    padding-bottom: 22px;
  }
}


@media screen and (max-width: 450px) {
  .about__info_part_title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 16px;
  }
}

.about__infographics {
  padding-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .about__infographics {
    padding-top: 93px;
  }
}

@media screen and (max-width: 450px) {
  .about__infographics {
    padding-top: 60px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2, 35px);
  }
}

.about__infographics_type_tech {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  padding: 14px 0 0;
}

@media screen and (max-width: 450px) {
  .about__infographics_type_tech {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }
}

.about__infographics_type_weeks {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
}

.about__infographics_type_weeks:nth-of-type(1) {
  color: #FFFFFF;
  background-color: #3456F3;
}

.about__infographics_type_weeks:nth-of-type(2) {
  background-color: #F2F2F2;
}

@media screen and (max-width: 450px) {
  .about__infographics_type_weeks {
    font-size: 11px;
    line-height: 13px;
    padding: 11px 0;
  }
}

.about__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid #000000 1px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 450px) {
  .about__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}