.navigation {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.navigation__link_blue-button {
  background-color: #3456F3;
  color: #FFFFFF;
}

.navigation__link-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .navigation__link-container_main {
    display: none;
  }
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .navigation__link {
    font-size: 10px;
  }
}

.navigation__link_active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navigation__link_active  {
    border-bottom: 2px solid #000000;
  }
}

.navigation__link_blue {
  width: 76px;
  height: 32px;
  background-color: #3456F3;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

@media screen and (max-width: 320px) {
  .navigation__link_blue {
    width: 54px;
    height: 26px;
  }
}

.navigation__link_context {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navigation__link_main {
  font-size: 14px;
  font-weight: 400;
}

.navigation__link_main-active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navigation__link_main-active  {
    border-bottom: 2px solid #000000;
  }
}

.navigation__link_white {
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  background: url(../../images/header-icon.svg) no-repeat left / 12px 14px;
  background-position: left 12px bottom 9px;
  font-size: 14px;
}

.navigation__burger {
  display: none;
  border: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
  padding: 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .navigation__burger {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .navigation__burger {
    width: 38px;
    height: 38px;
  }
}

.navigation__burger_icon {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 360px) {
  .navigation__burger_icon {
    width: 38px;
    height: 38px;
  }
}

.navigation__burger_icon-close {
  width: 32px;
  height: 32px;
}
