.techs {
  background-color: #F5F5F5;
}

.techs__wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .techs__wrap {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 320px) {
  .techs__wrap {
    padding: 70px 18px;
  }
}

.techs__item {
  list-style: none;
  background-color: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .techs__item-text {
    font-size: 12px;
    line-height: 15px;
  }
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-template-rows: repeat(1, 60px);
  column-gap: 10px;
  justify-content: center;
  margin: 0;
  padding: 100px 0 0;
}

@media screen and (max-width: 768px) {
  .techs__list {
    padding: 83px 0 0;
    grid-template-columns: repeat(auto-fit, 84px);
    grid-template-rows: repeat(1, 57px);
  }
}

@media screen and (max-width: 747px) {
  .techs__list {
    grid-template-rows: repeat(2, 57px);
    row-gap: 10px;
  }
}

@media screen and (max-width: 465px) {
  .techs__list {
    grid-template-rows: repeat(3, 57px);
  }
}

@media screen and (max-width: 371px) {
  .techs__list {
    padding: 50px 0 0;
    grid-template-columns: repeat(2, 84px);
    grid-template-rows: repeat(4, 57px);
  }
}

.techs__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 90px 0 26px;
}

@media screen and (max-width: 768px) {
  .techs__subtitle {
    padding: 80px 0 22px;
  }
}

@media screen and (max-width: 400px) {
  .techs__subtitle {
    font-size: 45px;
  }
}

@media screen and (max-width: 371px) {
  .techs__subtitle {
    padding: 60px 0 24px;
    font-size: 30px;
    line-height: 36px;
  }
}

.techs__text {
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .techs__text {
    font-size: 11px;
    line-height: 16px;
  }
}

.techs__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: solid #000000 1px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 371px) {
  .techs__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}
